<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top bg-sand bg-opacity-25">
  <div class="container-fluid">
    <!-- "CREA" link to home -->
    <%= link_to :home, class: "navbar-brand" do %>
      <h1 class="lato-black">CREA</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <!-- </li> -->
          <li class="nav-item">
            <!-- link to games play -->
            <%= link_to "Play", play_path, class: "nav-link", style: "font-size: 1.5rem; color: black;" %>
            <!-- link to games index -->
            <%= link_to "Games", games_path, class: "nav-link", style: "font-size: 1.5rem; color: black;" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar ms-3" style="font-size: 3rem; color: black;" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%# = image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              <i class="bi bi-person-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary lato-regular" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
