<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top bg-sand-fade bg-opacity-25">
  <div class="container-fluid">
    <!-- "CREA" link to home -->
    <%= link_to :home, class: "navbar-brand" do %>
      <h1 class="lato-black hover-purple">CREA</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <!-- </li> -->
          <li class="nav-item row">
            <!-- link to games play -->
            <%= link_to (if @user.language == "english"
                  "Play"
                elsif @user.language == "german"
                  "Starten"
                end), play_path, class: "nav-link col hover-purple", style: "font-size: 1.5rem;" %>
            <!-- link to games index -->
            <%= link_to (if @user.language == "english"
                  "Games"
                elsif @user.language == "german"
                  "Spiele"
                end), games_path, class: "nav-link col hover-purple", style: "font-size: 1.5rem;" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar ms-3 hover-gray" style="font-size: 3rem;" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%# = image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              <i class="bi bi-person-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end rounded-5" aria-labelledby="navbarDropdown">
              <!-- link to user settings -->
              <%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item rounded-5" %> <!-- link to user settings -->
              <% if @user.role == "admin" %>
                <!-- link to import_export_all_games -->
                <%= link_to (if @user.language == "english"
                      "Import/Export Games"
                    elsif @user.language == "german"
                      "Spiele Importieren/Exportieren"
                    end), import_export_all_games_path, class: "dropdown-item rounded-5" %>
              <% end %>
                <!-- link to log out -->
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item rounded-5" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark lato-regular" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
