<%= turbo_frame_tag :board_frame, class: "d-flex justify-content-center h-100" do %>
  <!-- Board Cards -->
  <div class="card-container row">
    <% @game_cards.each do |game_card| %>
      <div class="card text-center rounded-5 shadow m-3" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
          <!-- Buttons Top -->
          <div class="card-buttons-top d-flex justify-content-between">
            <i class="bi bi-info-circle hover-gray" style="font-size: 2rem;" data-bs-toggle="modal" data-bs-target="#game_card_<%= game_card.id %>"></i>
            <% if game_card.card.positive == true %>
              <i class="bi bi-plus-circle color-gray" style="font-size: 2rem;"></i>
            <% else %>
              <i class="bi bi-dash-circle color-gray" style="font-size: 2rem;"></i>
            <% end %>
          </div>
          <!-- Trait -->
          <div class="trait py-4 d-flex justify-content-center flex-fill">
            <h5 class="card-title align-self-center lato-bold">
              <% if @user.language == "german" %>
                <%= game_card.card.name_german %>
              <% elsif @user.language == "english" %>
                <%= game_card.card.name_english %>
              <% end %>
            </h5>
          </div>
          <!-- Buttons Bottom -->
          <div class="card-buttons-bottom d-flex justify-content-between">
            <!-- Button Choose -->
            <% if game_card.pile == 1 %>
              <i class="bi bi-check-circle-fill", style="font-size: 2rem; color: black;"></i>
            <% else %>
              <%= link_to choose_path(game_card_id: game_card.id), class: "link-underline link-underline-opacity-0", style: "font-size: 2rem;", data: { turbo_method: :patch } do %>
                <i class="bi bi-check-circle hover-green"></i>
              <% end %>
            <% end %>
            <!-- Button Reject -->
            <% if game_card.pile == 2 %>
              <i class="bi bi-x-circle-fill", style="font-size: 2rem; color: black;"></i>
            <% else %>
              <%= link_to reject_path(game_card_id: game_card.id), class: "link-underline link-underline-opacity-0", style: "font-size: 2rem;", data: { turbo_method: :patch } do %>
                <i class="bi bi-x-circle hover-red"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Modals -->
  <% @game_cards.each do |game_card| %>
    <div class="modal" id="game_card_<%= game_card.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-5">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              <% if @user.language == "english" %>
                <%= game_card.card.name_english %>
              <% elsif @user.language == "german" %>
                <%= game_card.card.name_german %>
              <% end %>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <% if @user.language == "english" %>
                <%= game_card.card.explanation_english %>
              <% elsif @user.language == "german" %>
                <%= game_card.card.explanation_german %>
              <% end %>
          </div>
          <!-- <div class="modal-footer"> -->
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  <% end %>
<% end %>
