<%= turbo_frame_tag :buttons_frame do%>
    <!-- Game Card Target Counter -->
    <div class="count-play d-flex">
      <div class="count-plus d-flex me-3
        <% if @count_choosen_positive > @count_positive %>
        red
        <% elsif @count_choosen_positive == @count_positive %>
        moss-green
        <% else %>
        orange
        <% end %>
      ">
        <h2 class="lato-bold"><%= @count_positive %></h2>
        <i class="bi bi-plus-circle"></i>
      </div>
      <div class="count-minus d-flex
        <% if @count_choosen_negative > @count_negative %>
        red
        <% elsif @count_choosen_negative == @count_negative %>
        moss-green
        <% else %>
        orange
        <% end %>
      ">
        <h2 class="lato-bold"><%= @count_negative %></h2>
        <div class="minus-icon" style="font-size: 1rem;">
          <i class="bi bi-dash-circle"></i>
        </div>
      </div>
    </div>
    <div class="nav-buttons-play d-flex">
      <div class="plus-minus me-5">
        <!-- Button "+" -->
        <%= link_to plus_path(id: @game), class: "me-3 link-underline link-underline-opacity-0", style: "font-size: 2rem;", data: { turbo_method: :patch } do %>
          <% if @game.positive == true %>
            <i class="bi bi-plus-circle-fill"></i>
          <% else %>
            <i class="bi bi-plus-circle"></i>
          <% end %>
        <% end %>
        <!-- Button "-" -->
        <%= link_to minus_path(id: @game), class: "ms-3 me-3 link-underline link-underline-opacity-0", style: "font-size: 2rem;", data: { turbo_method: :patch } do %>
          <% if @game.positive == true %>
            <i class="bi bi-dash-circle"></i>
          <% else %>
            <i class="bi bi-dash-circle-fill"></i>
          <% end %>
        <% end %>
      </div>
      <div class="three-buttons me-auto">
        <!-- Button Remaining -->
        <%= link_to remaining_path(id: @game), class: "link-underline link-underline-opacity-0", data: { turbo_method: :patch } do %>
          <i class="bi
            <% if @game.pile == 0 %>
              bi-question-circle-fill
            <% else %>
              bi-question-circle
            <% end %>
            position-relative me-3" style="font-size: 2rem;">
            <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger" style="font-size: 0.8rem;">
              <%if @game.positive == true%>
                <%= @count_remaining_positive%>
              <%else%>
                <%= @count_remaining_negative%>
              <%end%>
              <span class="visually-hidden">unread messages</span>
            </span>
          </i>
        <% end %>
        <!-- Button Choosen -->
        <%= link_to choosen_path(id: @game), class: "link-underline link-underline-opacity-0", data: { turbo_method: :patch } do %>
          <i class="bi
            <% if @game.pile == 1 %>
              bi-check-circle-fill
            <% else %>
              bi-check-circle
            <% end %>
            position-relative me-3" style="font-size: 2rem;">
            <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger" style="font-size: 0.8rem;">
              <%if @game.positive == true%>
                <%= @count_choosen_positive%>
              <%else%>
                <%= @count_choosen_negative%>
              <%end%>
              <span class="visually-hidden">unread messages</span>
            </span>
          </i>
        <% end %>
        <!-- Button Rejected -->
        <%= link_to rejected_path(id: @game), class: "link-underline link-underline-opacity-0", data: { turbo_method: :patch } do %>
          <i class="bi
            <% if @game.pile == 2 %>
              bi-x-circle-fill
            <% else %>
              bi-x-circle
            <% end %>
            position-relative me-3" style="font-size: 2rem;">
            <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger" style="font-size: 0.8rem;">
              <%if @game.positive == true%>
                <%= @count_rejected_positive%>
              <%else%>
                <%= @count_rejected_negative%>
              <%end%>
              <span class="visually-hidden">unread messages</span>
            </span>
          </i>
        <% end %>
      </div>
      <div class="next-finish me-3">
        <!-- Button Next -->
        <% if @game.pile == 0 %>
          <% if @next_group %> <!-- if there is a next group -->
            <%= link_to next_group_path(id: @game), class: "me-3 link-underline link-underline-opacity-0", style: "font-size: 2rem;", data: { turbo_method: :patch } do %>
              <i class="bi bi-arrow-right-circle text-success"></i>
            <% end %>
          <% else %> <!-- if no next group -->
            <span class="me-3 link-underline link-underline-opacity-0" style="font-size: 2rem; pointer-events: none; color: gray;">
              <i class="bi bi-arrow-right-circle text-secondary"></i>
            </span>
          <% end %>
        <% end %>
        <!-- Button Finish -->
        <% if @count_choosen_positive == @count_positive && @count_choosen_negative == @count_negative %> <!-- if all cards are choosen -->
          <%= link_to finish_path(id: @game), class: "me-3 link-underline link-underline-opacity-0", style: "font-size: 2rem;" do %>
            <i class="bi bi-play-circle-fill text-success"></i>
          <% end %>
        <% else %> <!-- if not all cards are choosen -->
          <span class="me-3 link-underline link-underline-opacity-0" style="font-size: 2rem; pointer-events: none; color: gray;">
            <i class="bi bi-play-circle"></i>
          </span>
        <% end %>
      </div>
    </div>
<% end %>
