<div class="edit-game-form px-5 pt-5">
  <h1>
    <% if @user.language == "english" %>
      Game Settings
    <% elsif @user.language == "german" %>
      Spiel Einstellungen
    <% end %>
  </h1>

  <%= simple_form_for @game do |f| %>
    <%= f.input :name, label: (if @user.language == "english"
                  "Game Name"
                elsif @user.language == "german"
                  "Spielname"
                end), required: true %>

    <%= f.input :count_positive, label: (if @user.language == "english"
                  "Count of positive Cards"
                elsif @user.language == "german"
                  "Anzahl positiver Karten"
                end), input_html: { value: 10 } %>
    <%= f.input :count_negative, label: (if @user.language == "english"
                  "Count of negative Cards"
                elsif @user.language == "german"
                  "Anzahl negativer Karten"
                end), input_html: { value: 5 } %>

    <%= f.button :submit, (if @user.language == "english"
                  "Edit Game"
                elsif @user.language == "german"
                  "Spiel anpassen"
                end), class: 'btn btn-outline-dark' %>
  <% end %>

  <%= link_to (if @user.language == "english"
                  "Back"
                elsif @user.language == "german"
                  "zurück"
                end), play_path(@game), class: 'btn btn-outline-secondary mt-2' %>
</div>
