<div class="container games-index">
  <div class="games-page d-flex flex-column align-items-center">
    <div id="heading-games" class="d-flex flex-column align-items-center position-fixed z-3 bg-white rounded-5 shadow p-2 responsive-header">
      <div class="top-row-games d-flex justify-content-center">
        <div class="title-games">
          <% if @user.language == "english" %>
            <h1 class="lato-bold">My Games</h1>
          <% elsif @user.language == "german" %>
            <h1 class="lato-bold">Meine Spiele</h1>
          <% end %>
        </div>
      </div>
      <div class="bottom-row-games">
        <%= link_to new_game_path, class: "btn btn-outline-dark rounded-4 me-1 mb-1" do %>
          <i class="bi bi-window-plus me-1"></i>
          <% if @user.language == "english" %>
            New Game
          <% elsif @user.language == "german" %>
            Neues Spiel
          <% end %>
        <% end %>

        <%= link_to cards_path, class: "btn btn-outline-dark rounded-4 me-1 mb-1" do %>
          <i class="bi bi-suit-club me-1"></i>
          <% if @user.language == "english" %>
            My Cards
          <% elsif @user.language == "german" %>
            Meine Karten
          <% end %>
        <% end %>

        <%= link_to history_path, class: "btn btn-outline-dark rounded-4 me-1 mb-1" do %>
          <i class="bi bi-graph-up me-1"></i>
          <% if @user.language == "english" %>
            History
          <% elsif @user.language == "german" %>
            Verlauf
          <% end %>
        <% end %>

        <%= link_to import_form_path, class: "btn btn-outline-dark rounded-4 mb-1" do %>
          <i class="bi bi-cloud-upload me-1"></i>
          <% if @user.language == "english" %>
            Import
          <% elsif @user.language == "german" %>
            Importieren
          <% end %>
        <% end %>
      </div>
      <div id="games-index-fade" class="py-1 bg-sand-fade position-relative"></div>
    </div>
    <div id="games-content" class="pt-5 mt-5 w-100">
      <div id="games-cards" class="d-flex flex-column justify-content-center align-items-center mt-5">
        <% @games.each do |game| %>
          <div class="card col-xl-6 col-lg-7 col-md-9 col-sm-12 m-3 rounded-5 shadow">
            <h5 class="card-header  rounded-top-5"><%= game.name %></h5>
            <div class="card-body">
              <p class="card-date-time"><%= game.created_at.strftime("%d.%m.%Y") %>
                <% if @user.language == "english" %>
                  at
                <% elsif @user.language == "german" %>
                  um
                <% end %>
              <%= game.created_at.strftime("%H:%M") %>
                <% if game.status == "finished" %>
                  <% if @user.language == "english" %>
                    Duration:
                  <% elsif @user.language == "german" %>
                    Dauer:
                  <% end %>
                  <!-- add game duration by calculating the difference between created_at and updated_at in minutes, if below an hour and in hh:mm if above -->
                  <% if (game.updated_at - game.created_at).round / 60 < 60 %>
                    <%= (game.updated_at - game.created_at).round / 60 %> min
                  <% else %>
                    <%= ((game.updated_at - game.created_at) / 60).divmod(60).map { |t| t.to_i.to_s.rjust(2, '0') }.join(':') %> h
                  <% end %>
                <% end %>
              </p>
            <% if game.shared_from_user_id? %>
              <p>
                <% if @user.language == "english" %>
                  Shared from <%= User.find(game.shared_from_user_id).first_name %> <%= User.find(game.shared_from_user_id).last_name %>
                <% elsif @user.language == "german" %>
                  Geteilt von <%= User.find(game.shared_from_user_id).first_name %> <%= User.find(game.shared_from_user_id).last_name %>
                <% end %>
              </p>
            <% end %>
            <div class="count-index-card d-flex">
              <!-- count of cards positive of the game -->
              <div class="count-plus d-flex me-3">
                <h2 class="lato-bold"><%= game.count_positive %></h2>
                <i class="bi bi-plus-circle"></i>
              </div>
              <!-- count of cards negative of the game -->
              <div class="count-minus d-flex">
                <h2 class="lato-bold"><%= game.count_negative %></h2>
                <div class="minus-icon" style="font-size: 1rem;">
                  <i class="bi bi-dash-circle"></i>
                </div>
              </div>
            </div>
            <div class="buttons-games d-flex justify-content-between">
              <!-- if game.status == "running" "play" button with link to games play page -->
              <% if game.status == "running" %>
                <%= link_to play_path(id: game), class: "btn btn-outline-warning rounded-4" do %>
                  <i class="bi bi-controller me-1"></i>
                  <% if @user.language == "english" %>
                    Play
                  <% elsif @user.language == "german" %>
                    Spielen
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to game_path(game), class: "btn btn-outline-dark rounded-4" do %>
                  <i class="bi bi-pie-chart me-1"></i>
                  <% if @user.language == "english" %>
                    Results
                  <% elsif @user.language == "german" %>
                    Auswertung
                  <% end %>
                <% end %>
              <% end %>
              <%= link_to game_path(game), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <div class="button ms-2 hover-gray" style="font-size: 1.5rem;">
                    <i class="bi bi-trash3"></i>
                </div>
              <% end %>
            </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
