<div class="share-game-form px-5 pt-5">
  <h1>
    <%= @user.language == "english" ? "Share Game" : "Spiel teilen" %>
  </h1>

  <%= form_with(model: @game, url: share_game_path(@game), method: :post, local: true, html: { id: 'share-game-form' }) do |f| %>
    <div class="form-group mb-2">
      <%= f.label :recipient_email, (@user.language == "english" ? "Enter email to share with:" : "E-Mail für die Weitergabe eingeben:") %>
      <%= text_field_tag :recipient_email, nil, required: true, class: 'form-control', placeholder: 'example@example.com' %>
      <div id="email-error" class="invalid-feedback" style="display: none;">
        <%= @user.language == "english" ? "Please enter a valid email address." : "Bitte geben Sie eine gültige E-Mail-Adresse ein." %>
      </div>
    </div>

    <%= button_tag type: 'submit', class: 'btn btn-outline-dark', id: 'share-submit-btn' do %>
      <i class="bi bi-send me-1"></i>
      <%= @user.language == "english" ? "Share Game" : "Spiel teilen"%>
    <% end %>
  <% end %>

  <%= link_to game_path(@game), class: 'btn btn-outline-secondary mt-2' do %>
    <i class="bi bi-arrow-90deg-left me-1"></i>
    <%= @user.language == "english" ? "Back" : "Zurück" %>
  <% end %>
</div>
