<div class="margin-top container">
  <div class="heading-game">
    <div class="top-row-play d-flex justify-content-between">
      <div class="title-game">
        <h1 class="lato-bold"><%= @game.name %></h1>
      </div>
    </div>
    <div class="game-stats">
      <p class="card-date-time"><%= @game.created_at.strftime("%d.%m.%Y") %> at <%= @game.created_at.strftime("%H:%M") %>
        Duration:
        <!-- add game duration by calculating the difference between created_at and updated_at in minutes, if below an hour and in hh:mm if above -->
          <% if ((@game.updated_at - @game.created_at) / 60).round < 60 %>
          <%= ((@game.updated_at - @game.created_at) / 60).round %> min
        <% else %>
          <%= ((@game.updated_at - @game.created_at) / 60).divmod(60).map { |t| t.to_i.to_s.rjust(2, '0') }.join(':') %>
        <% end %>
      </p>
      <!-- count of cards positive of the game -->
      <p class="card-text">Positive: <%= @game.count_positive %></p>
      <!-- count of cards negative of the game -->
      <p class="card-text">Negative: <%= @game.count_negative %></p>
    </div>
  </div>
  <div class="content-game">
    <div class="game-board mb-5">
      <!-- Board Cards -->
      <div class="container text-center">
        <!-- Positive Cards -->
        <div class="positive-cards row align-items-end">
          <% categories = {
            methodical: @methodical_positive,
            social: @social_positive,
            professional: @professional_positive,
            intuitive: @intuitive_positive,
            personal: @personal_positive
          } %>

          <% categories.each do |key, game_cards| %>
            <div class="col">
              <div class="positive-cards">
                <% game_cards.each do |game_card| %>
                  <%= render "games/card", game_card: game_card %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <!-- Categories -->
        <div class="card-categories container text-center">
          <div class="row align-items-center">
            <% categories = {
                              "methodisch" => "methodical",
                              "sozial" => "social",
                              "fachlich" => "professional",
                              "intuitiv" => "intuitive",
                              "persönlich" => "personal"
                            }
            %>

            <% categories.each do |german, english| %>
              <div class="category col">
                <%= @user.language == "german" ? german : english %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Negative Cards -->
        <div class="negative-cards row align-items-start">
          <% categories = {
                            methodical: @methodical_negative,
                            social: @social_negative,
                            professional: @professional_negative,
                            intuitive: @intuitive_negative,
                            personal: @personal_negative
                          }
          %>

          <% categories.each do |key, game_cards| %>
            <div class="col">
              <div class="negative-cards">
                <% game_cards.each do |game_card| %>
                  <%= render "games/card", game_card: game_card %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Graphics -->
    <div class="game-graphics d-flex pt-5 mb-5">
      <!-- Positive Pie Chart -->
      <div class="pie-chart-positive w-475 bg-white rounded-5 py-3 shadow">
        <p class="text-center mb-3">
          <% if @user.language == "german" %>
            Gewichtung positiver Eigenschaften
          <% elsif @user.language == "english" %>
            Weighting positive traits
          <% end %>
        </p>
        <%= render "games/pie_chart", pie_chart_data: @pie_chart_data_positive %>
      </div>
      <div class="space-5 w-5"></div>
      <!-- Negative Pie Chart -->
      <div class="pie-chart-negative w-475 bg-white rounded-5 py-3 px-0 shadow">
        <p class="text-center mb-3">
          <% if @user.language == "german" %>
            Gewichtung negativer Eigenschaften
          <% elsif @user.language == "english" %>
            Weighting negative traits
          <% end %>
        </p>
        <%= render "games/pie_chart", pie_chart_data: @pie_chart_data_negative %>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<% @choosen_cards.each do |game_card| %>
  <div class="modal" id="game_card_<%= game_card.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-5">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            <% if @user.language == "english" %>
              <%= game_card.card.nameenglish %>
            <% elsif @user.language == "german" %>
              <%= game_card.card.namegerman %>
            <% end %>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <% if @user.language == "english" %>
              <%= game_card.card.explanationenglish %>
            <% elsif @user.language == "german" %>
              <%= game_card.card.explanationgerman %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
