<div class="edit-card-form px-5 pt-5">
  <h1>
    <%= @user.language == "english" ? "Edit Card" : "Karte bearbeiten" %>
  </h1>

  <%= simple_form_for @card do |f| %>
    <%= f.input @user.language == 'german' ? :name_german : :name_english,
                label: "Name",
                required: true %>

    <% category_mapping = {
        english: {
          "methodical" => 1,
          "social" => 2,
          "professional" => 3,
          "intuitive" => 4,
          "personal" => 5
        },
        german: {
          "methodisch" => 1,
          "sozial" => 2,
          "fachlich" => 3,
          "intuitiv" => 4,
          "persönlich" => 5
        }
      } %>

    <% current_language = @user.language == "german" ? :german : :english %>
    <% collection = category_mapping[current_language].map { |key, value| [key.capitalize, value] } %>

    <%= f.input :category,
                label: (@user.language == "english" ? "Category" : "Kategorie"),
                collection: collection,
                selected: category_mapping[:english][@card.category],
                prompt: (@user.language == "english" ? "Select a Category" : "Kategorie auswählen"),
                required: true %>

    <%= f.input :positive,
                label: (@user.language == "english" ? "Positive / Negative" : "Positiv / Negativ"),
                collection: [['+', true], ['-', false]],
                prompt: "+ / -",
                required: true %>

    <%= f.input @user.language == 'german' ? :explanation_german : :explanation_english,
                label: (@user.language == 'german' ? "Erklärung" : "Explanation"),
                input_html: { rows: 5 } %>

    <%= f.button :submit, @user.language == "english" ? "Update Card" : "Karte aktualisieren", class: 'btn btn-outline-dark' %>
  <% end %>

  <%= link_to @user.language == "english" ? "Back" : "Zurück", cards_path, class: 'btn btn-outline-secondary mt-2' %>
</div>
