<div class="new-card-form px-5 pt-5">
  <h1>
    <% if @user.language == "english" %>
      Create a New Card
    <% elsif @user.language == "german" %>
      Neue Karte erstellen
    <% end %>
  </h1>

  <%= simple_form_for @card do |f| %>
    <% if @user.language == 'german' %>

      <%= f.input :namegerman,
                  label: "Name",
                  required: true %>

    <% elsif @user.language == 'english' %>

      <%= f.input :nameenglish,
                  label: "Name",
                  required: true %>
    <% end %>


    <%= f.input :category,
              label: (if @user.language == "english"
                          "Category"
                        elsif @user.language == "german"
                          "Kategorie"
                        end),
              collection: %w[methodical social professional intuitive personal],
              prompt: (if @user.language == "english"
                          "Select a Category"
                        elsif @user.language == "german"
                          "Kategorie auswählen"
                        end),
              required: true %>

    <%= f.input :positive,
                label: (if @user.language == "english"
                          "Positive / Negative"
                        elsif @user.language == "german"
                          "Positiv / Negativ"
                        end),
                collection: [['+', true], ['-', false]],
                prompt: "+ / -",
                required: true %>

    <% if @user.language == 'german' %>
      <%= f.input :explanationgerman,
                  label: "Erklärung",
                  input_html: { rows: 5 } %>

    <% elsif @user.language == 'english' %>
      <%= f.input :explanationenglish,
                  label: "Explanation",
                  input_html: { rows: 5 } %>
    <% end %>

    <%# = f.input :image,
                <!-- label: (if @user.language == "english" -->
                          <!-- "Image URL" -->
                        <!-- elsif @user.language == "german" -->
                          <!-- "Bild-URL" -->
                        <!-- end) %>
    <% if @user.language == 'german' %>
      <%= f.input :groupgerman,
                  label: "Gruppe" %>

    <% elsif @user.language == 'english' %>
      <%= f.input :groupenglish,
                  label: "Group" %>
    <% end %>

    <%= f.button :submit, (if @user.language == "english"
                             "Create Card"
                           elsif @user.language == "german"
                             "Karte erstellen"
                           end), class: 'btn btn-outline-dark' %>
  <% end %>

  <%= link_to (if @user.language == "english"
                  "Back"
                elsif @user.language == "german"
                  "Zurück"
                end), cards_path, class: 'btn btn-outline-secondary mt-2' %>
</div>
