<div class="new-card-form px-5 pt-5">
  <h1>
    <% if @user.language == "english" %>
      Create a New Card
    <% elsif @user.language == "german" %>
      Neue Karte erstellen
    <% end %>
  </h1>

  <%= simple_form_for @card do |f| %>
    <%= f.input :namegerman,
                label: (if @user.language == "english"
                          "Name (German)"
                        elsif @user.language == "german"
                          "Name (Deutsch)"
                        end),
                required: true %>

    <%= f.input :nameenglish,
                label: (if @user.language == "english"
                          "Name (English)"
                        elsif @user.language == "german"
                          "Name (Englisch)"
                        end),
                required: true %>

    <% if @user.language == "english" %>
      <%= f.input :categoryenglish,
                label: "Category",
                collection: %w[methodical social professional intuitive personal],
                prompt: "Select Category",
                required: true %>
    <% elsif @user.language == "german" %>
      <%= f.input :categorygerman,
                  label: "Katgeorie",
                  collection: %w[methodisch sozial fachlich intuitiv persönlich],
                  prompt: "Kategorie auswählen",
                  required: true %>
    <% end %>

    <%= f.input :positive,
                label: (if @user.language == "english"
                          "Positive / Negative"
                        elsif @user.language == "german"
                          "Positiv / Negativ"
                        end),
                collection: [['+', true], ['-', false]],
                prompt: (if @user.language == "english"
                          "+ / -"
                        elsif @user.language == "german"
                          "+ / -"
                        end),
                required: true %>

    <%= f.input :explanationgerman,
                label: (if @user.language == "english"
                          "Explanation (German)"
                        elsif @user.language == "german"
                          "Erklärung (Deutsch)"
                        end),
                required: true,
                input_html: { rows: 5 } %>

    <%= f.input :explanationenglish,
                label: (if @user.language == "english"
                          "Explanation (English)"
                        elsif @user.language == "german"
                          "Erklärung (Englisch)"
                        end),
                required: true,
                input_html: { rows: 5 } %>

    <%# = f.input :image,
                <!-- label: (if @user.language == "english" -->
                          <!-- "Image URL" -->
                        <!-- elsif @user.language == "german" -->
                          <!-- "Bild-URL" -->
                        <!-- end) %>

    <%= f.input :groupgerman,
                label: (if @user.language == "english"
                          "Group (German)"
                        elsif @user.language == "german"
                          "Gruppe (Deutsch)"
                        end) %>

    <%= f.input :groupenglish,
                label: (if @user.language == "english"
                          "Group (English)"
                        elsif @user.language == "german"
                          "Gruppe (Englisch)"
                        end) %>

    <%= f.button :submit, (if @user.language == "english"
                             "Create Card"
                           elsif @user.language == "german"
                             "Karte erstellen"
                           end), class: 'btn btn-outline-dark' %>
  <% end %>

  <%= link_to (if @user.language == "english"
                  "Back"
                elsif @user.language == "german"
                  "Zurück"
                end), cards_path, class: 'btn btn-outline-secondary mt-2' %>
</div>
